<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: orange">
    <%= link_to "jump news", root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <li><%= link_to "new", "#", class: "nav-item nav-link active" %></li>
      <li><%= link_to "comments", comments_path, class: "nav-item nav-link active" %></li>
 
      <% unless logged_in? %>
	<li><%= link_to "signup", new_user_path, class: "nav-item nav-link active" %></li>
	<li> <%= link_to "login", new_session_path, class: "nav-item nav-link active" %></li>
       <% end %>

       <% if logged_in? %>
	<li><%= link_to "submit a link", new_link_path , class: "nav-item nav-link active" %></li>
	 <li><%= link_to "logout", sessions_path, method: :delete, class: "nav-item nav-link active" %></li>
      <% end %>
   </ul>
  </nav>
</header>
